.i {
    width: 100%;
    object-fit: cover;
    display: block;
}

.wid{
    position: relative;
}

.time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: small;
    padding: 3.2px;
    border-radius: 2px;
}

.d {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}

.title {
    display: inline-block;
    background-color: violet;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 20px;
}

.author,
.stats {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 4px;
}

.im {
    width: 100%;
    border-radius: 20px;
}

.poora {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 17px;
    margin-top: 9px;
}

.picture{
    width: 40px;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 85px;
    padding-right: 7px;
    background-color: rgb(248, 248, 248);
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(201, 193, 193);
    z-index: 1;
}

.left{
    width: 150px;
    display: flex;
    align-items: center;
}

.mid{
    flex: 1;
    margin-left: 80px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hm,.yt{
    height: 22px;
    margin-left: 20px;
    margin-right: 20px ;
}

.sb{
    height: 41px;
    width: 55px;
    background-color: rgb(224, 224, 224);
    border: 2px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.vb{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 3px;
}

.search{
    flex: 1;
    height: 36px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 2px rgba(192, 192, 192, 0.05);
    border: 2px solid ;
}

.search::placeholder{
    font-size: 14px;
}

.si{
    height: 22px;
}

.ya{
    height: 24px;
}

.nf{
    height: 24px;
}

.mc{
    height: 24px;
}

.side{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: #fff;
    width: 70px;
}

.bell{
    position: relative;
}

.count{
    position: absolute;
    top: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    right: -2.5px;
    top: 2px;
    width: 7px;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
}

.sidebar{
    width: 72px;
    height: 80px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    cursor: pointer;
}

.sidebar:hover{
    background-color: lightgray;
}

.sidebar img{
    height: 24px;
}

.sidebar div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 5px;
}